@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Poppins&family=Roboto:wght@300&display=swap');

:root {
  --ff-primary: 'Poppins', sans-serif;
  --ff-secondary: 'Roboto', sans-serif;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-bg: #fff5f4;
  --clr-text: #252525;
  --clr-accent: #e05f5f;
  --clr-accent-secondary: #FF9F33;
  --clr-bg-secondary: #f4f1de;
  --clr-button: #202020;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-text);
  opacity:0.8;
}

html {
  height: auto;
  width: 100vw;
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  height: auto;
  width: 100vw;
  background-color: var(--clr-bg);
  color: var(--clr-text) !important;
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

h1 {
  font-size:3em;
  color:var(--clr-text);
  font-family: var(--ff-primary);
}

h3 {
  margin-top: -30px;
  font-size:1em;
  color:var(--clr-accent);
  font-family: var(--ff-primary);
}

.container {
  text-align: center;
  background-color:none;
}

.kanban {
  height: auto !important;
  width: auto !important;
  display: flex;
  border-radius: 3px;
}

.kanban * {
  font-family: var(--ff-primary);
}

.kanban__column {
  padding:30px 20px;
  flex: 1;
}

.kanban__column:not(:last-child) {
  margin-left:5px;
  
}

.kanban__column-title {
  margin-bottom: 20px;
  font-size: 20px;
  user-select: none;
  color: var(--clr-accent);
}

.kanban__item-input {
  width: 100%;
  padding: 15px;
  font-size:15px;
  font-family: var(--ff-secondary) !important;
  box-sizing: border-box;
  margin-bottom: 20px;
  background: var(--clr-bg);
  border: 2px solid rgb(81, 78, 78);
  border-radius: 5px;
  cursor: pointer;
  word-wrap: break-word;
}

.kanban__item-input:focus{
  outline: none
}

.kanban__dropzone {
  height: 10px;
  transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
  height: 20px;
  background: var(--clr-accent);
}


.kanban__add-item {
  width: 100%;
  padding: 10px 0px;
  font-size: 15px;
  color: var(--clr-bg);
  background: var(--clr-button);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.kanban__clear-all {
  width: auto;
  padding: 5px 30px;
  font-size: 12px;
  color: var(--clr-text);
  background-color:var(--clr-bg);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.delete-button {
  margin-top:-5px;
  margin-left:-6px;
  position:absolute;
  text-align:center;
  width:10px;
  padding:3px 6px;
  font-size: 10px;
  color:var(--clr-bg);
  border-radius: 50px;
  background-color:var(--clr-button);
  cursor: pointer;
}

.kanban__item {
  padding-bottom: 20px !important;
}


.meal-tag {
  margin-left:auto;
  float:right;
  font-size:10px;
  padding:3px 7px;
  margin-top:-15px;
  border-radius: 50px;
  margin-right:5px;
  background-color:var(--clr-accent-secondary);
  color:var(--clr-bg);
}

.meal-tag:focus {
  outline:none;
}

/* Dropdown Button */
.dropbtn {
  margin-left:auto;
  float:right;
  font-size:10px;
  padding:3px 7px;
  margin-top:-15px;
  border-radius: 50px;
  margin-right:5px;
  background-color:var(--clr-accent-secondary);
  color:var(--clr-bg);
  border:none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--clr-bg);
  border:1px solid var(--clr-button);
  min-width: 70px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
  font-size:12px;
  color: black;
  text-decoration: none;
  text-align:center;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {background-color: #ddd;cursor:pointer}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:var(--clr-accent); border:none;}