@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Poppins&family=Roboto:wght@300&display=swap');

:root {
  --ff-primary: 'Poppins', sans-serif;
  --ff-secondary: 'Roboto', sans-serif;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-bg: #fff5f4;
  --clr-text: #252525;
  --clr-accent: #e05f5f;
  --clr-accent-secondary: #FF9F33;
  --clr-bg-secondary: #f4f1de;
  --clr-button: #202020;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-text);
  opacity:0.8;
}

html {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  overflow: auto;
}

body {
  height: 100vh;
  width: 100vw;
  background: "black";
  color: var(--clr-text) !important;
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

.kanban {
  height: 100vh;
  width: auto;
  display: flex;
  background-color: var(--clr-bg);
  border-radius: 3px;
}

.kanban * {
  font-family: var(--ff-primary);
}

.kanban__column {
  padding:30px 20px;
  flex: 1;
}

.kanban__column:not(:last-child) {
  margin-left:5px;
  
}

.kanban__column-title {
  margin-bottom: 20px;
  font-size: 20px;
  user-select: none;
  color: var(--clr-accent);
}

.kanban__item-input {
  width: 100%;
  padding: 15px;
  font-family: var(--ff-secondary) !important;
  box-sizing: border-box;
  margin-bottom: 10px;
  background: var(--clr-bg);
  border: 2px solid rgb(81, 78, 78);
  border-radius: 5px;
  cursor: pointer;
  word-wrap: break-word;
  word-break: break-all;
}

.kanban__dropzone {
  height: 10px;
  transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
  height: 20px;
  background: var(--clr-accent);
}


.kanban__add-item {
  width: 100%;
  padding: 10px 0px;
  font-size: 15px;
  color: var(--clr-bg);
  background: var(--clr-button);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.delete-button {
  margin-top:-5px;
  margin-left:-6px;
  position:absolute;
  text-align:center;
  width:10px;
  padding:3px 6px;
  font-size: 10px;
  color:var(--clr-bg);
  border-radius: 50px;
  background-color:var(--clr-button);
  cursor: pointer;
}


.meal-tag {
  margin-left:auto;
  float:right;
  font-size:10px;
  padding:3px 5px;
  margin-top:-40px;
  border-radius: 50px;
  margin-right:5px;
  background-color:var(--clr-accent-secondary);
  color:var(--clr-bg);
}